<div
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{ 'bg-light': expense.amount > 100 }"
>
  <div>
    <h5>{{ expense.title }}</h5>
    <p class="mb-0">${{ expense.amount }} • {{ expense.category }}</p>
  </div>

  <div>
    <button class="btn btn-danger btn-sm me-2" (click)="deleteExpense()">Delete</button>
    <button class="btn btn-sm btn-warning me-2" [routerLink]="['/edit', expense.id]">Edit</button>

    <button class="btn btn-secondary btn-sm">Edit</button>
  </div>
</div>
